
{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About de imagen</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maiores 
            adipisci dolorem corporis quod, error doloremque suscipit fuga. Possimus 
            explicabo quidem voluptatibus rerum voluptas similique sequi, dolorum veritatis
            soluta dolore.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/node-js.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}